[{artificery,[]},
 {mix,[{colors,[]}]},
 {logger,
     [{sync_threshold,20},
      {handle_sasl_reports,false},
      {translators,[{'Elixir.Logger.Translator',translate}]},
      {compile_time_application,nil},
      {backends,[console]},
      {compile_time_purge_level,debug},
      {level,info},
      {truncate,8096},
      {handle_otp_reports,true},
      {discard_threshold_for_error_logger,500},
      {translator_inspect_opts,[]},
      {console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {utc_log,false},
      {compile_time_purge_matching,[]},
      {discard_threshold,500}]},
 {eex,[]},
 {plug_crypto,[]},
 {mime,[{types,#{}}]},
 {cowboy,[]},
 {ranch,[]},
 {compiler,[]},
 {runtime_tools,[]},
 {plug_cowboy,[]},
 {phoenix,
     [{format_encoders,[]},
      {template_engines,[]},
      {serve_endpoints,false},
      {gzippable_exts,
          [<<".js">>,<<".css">>,<<".txt">>,<<".text">>,<<".html">>,
           <<".json">>,<<".svg">>,<<".eot">>,<<".ttf">>]},
      {filter_parameters,[<<"password">>]},
      {stacktrace_depth,nil},
      {json_library,'Elixir.Jason'}]},
 {practice,
     [{'Elixir.PracticeWeb.Endpoint',
          [{secret_key_base,
               <<"cCJYQLnt/HqBGqyowai4HvJ6Y0lF1jle6FiAQP6fZehGCDNX8lPwQMD/+S/tLkOu">>},
           {render_errors,
               [{view,'Elixir.PracticeWeb.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Practice.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {server,true},
           {http,[inet6,{port,{system,<<"PORT">>}}]},
           {cache_static_manifest,<<"priv/static/cache_manifest.json">>},
           {root,<<".">>},
           {version,nil},
           {url,[{host,<<"hw03.cheapestdomainever.com">>},{port,80}]}]}]},
 {crypto,[{fips_mode,false},{rand_cache_size,896}]},
 {elixir,
     [{time_zone_database,'Elixir.Calendar.UTCOnlyTimeZoneDatabase'},
      {ansi_enabled,false}]},
 {cowlib,[]},
 {gettext,[{default_locale,<<"en">>}]},
 {distillery,[{config_providers,[]}]},
 {kernel,
     [{logger,
          [{handler,default,logger_std_h,
               #{config => #{type => standard_io},
                 formatter =>
                     {logger_formatter,
                         #{legacy_header => true,single_line => false}}}}]},
      {logger_sasl_compatible,false},
      {logger_level,notice}]},
 {ssl,[]},
 {sasl,[{sasl_error_logger,false},{errlog_type,error}]},
 {iex,
     [{default_prompt,<<"%prefix(%counter)>">>},
      {inspect,[{pretty,true}]},
      {colors,[]},
      {alive_prompt,<<"%prefix(%node)%counter>">>},
      {history_size,20}]},
 {phoenix_html,[]},
 {jason,[]},
 {phoenix_pubsub,[]},
 {public_key,[]},
 {asn1,[]},
 {plug,[{validate_header_keys_during_test,true}]},
 {stdlib,[]}].
